.navbar.navbar-default.navbar-static-top
  .container-fluid
    %button.navbar-toggle(type="button" data-toggle="collapse" data-target=".navbar-responsive-collapse")
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    .navbar-brand
      = link_to "FinanceTracker", "#"
    .navbar-collapse.collapse.navbar-responsive-collapse
      %ul.nav.navbar-nav
        %li= link_to "My portfolio", "#"
        %li= link_to "my profile", "#"
        %li= link_to "my friends",  "#"
